.inspection-form-page-container {
  background: #f9f9ff;
  min-height: 100vh;
  padding-bottom: 5rem;

  .heading-main {
    text-align: center;
    padding: 3rem 0;
    margin-bottom: 3rem;
    background-color: #fff;
    position: relative;
    text-transform: capitalize;

    .go-back-button {
      position: absolute;

      left: 2rem;
      top: 3rem;
      padding: 0px 1rem;
      cursor: pointer;
    }
  }

  .inspection-inner-wrapper {
    padding: 0 1.5rem;

    .car-detail-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #fff;
      padding: 2rem;
      border-radius: 1.5rem;
      margin-bottom: 2rem;

      .car-icon {
        width: 24rem;
      }
    }
  }

  .generate-button-container {
    padding: 0 2rem;
    margin-top: 2rem;

    .ant-btn.generate-pdf-button {
      background-color: #4987ce;
      color: #fff;
      height: 5rem;
      border: none;
      width: 100%;
    }
  }

  .ant-collapse.collapse-forms-container {
    border: none;
    background-color: #fff;
    border-radius: 2rem;

    .ant-collapse-item {
      border: none;

      &.ant-collapse-item-active {
      }

      .ant-collapse-header {
        .ant-collapse-header-text {
          .collapse-header-custom {
            display: flex;
            align-items: center;

            .collapse-icon {
              height: 4rem;
              margin-right: 2.5rem;
            }

            .title {
              font-weight: 700;
              font-size: 1.6rem;
              color: #1c2340;
            }
          }
        }
      }

      .ant-collapse-content {
        border: none;
      }
    }
  }
}
