.select-vehicle-container {
  background: #f9f9ff;
  min-height: 100vh;

  .heading-main {
    text-align: center;
    padding: 3rem 0;
    margin-bottom: 3rem;
    background-color: #fff;
    position: relative;

    .go-back-button {
      position: absolute;

      left: 2rem;
      top: 3rem;
      padding: 0px 1rem;
      cursor: pointer;
    }
  }

  .vehcile-select-inner-wrapper {
    padding: 0 1.5rem;

    .ant-input.login-field {
      width: 100%;
      height: 5rem;
      font-size: 14px;
      border-radius: 32px;
      margin-bottom: 2rem;
      padding: 1rem 2rem;
    }

    .ant-select.ant-select-single {
      width: 100%;
      height: 5rem;
      margin-bottom: 2rem;

      .ant-select-selector {
        width: 100%;
        height: 5rem;
        border-radius: 32px;
        display: flex;
        align-items: center;
        padding: 0 2rem;
      }
    }

    .vehcile-select-forward-button {
      width: 100%;
      height: 5rem;
      color: #fff;
      background-color: #4987ce;
    }

    .sus-list {
      list-style: none;
      padding: 2rem 0;

      .heading {
        margin-bottom: 2rem;
        font-weight: 700;
        font-size: 3rem;
      }

      .su-item {
        padding: 1rem 3rem;
        border-radius: 2rem;
        background-color: #eee;
        margin-bottom: 1rem;
      }
    }
  }
}
