.common-inner-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3rem;
  gap: 2rem;

  .input-wrapper {
    .input-label {
      font-weight: 700;
      font-size: 1.3rem;
      color: #1c2340;
    }

    .ant-rate {
      font-size: 15px;
    }
  }

  .general-comments-wrapper {
    grid-column: 1/3;

    .input-label {
      font-weight: 700;
      font-size: 1.3rem;
      color: #1c2340;
      margin-bottom: 0.5rem;
    }

    .ant-input {
      resize: none;
      border-radius: 0.5rem;
    }
  }
}
